.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    margin: 0 20px;
    outline: none;
    border: 2px solid #ebebf9;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #f6faff;
    box-shadow: 0 4px 6px rgba(21, 43, 47, 0.1), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
}

.currentPage {
    font-size: 20px;
    font-weight: bold;
    color: #464646;
}
